/*
 ===============
    Colores
 ===============
*/

:root{
    --bgColor: #040404;
    --WhiteColor : #ffffff;
    --GreyColor : #6E6E6E;
    --redColor : #e46A6B;
    --lowgrey : #3F3F3F;
}


body{
    background-color: var(--bgColor);
}
/*

    ================
        Header
    ================
*/

.header-area .main-menu,
.header-area .main-menu .dropdown-menu{
    background-color: rgba(1,1,1,1);
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.1);
}
.header-area .main-menu .navbar{
    height: 10 px;
}
.header-area .main-menu .navbar .nav-link{
    font-size: 14px;
    color: var(--WhiteColor);
    padding: 8px;
}
.header-area .navbar-brand {
    font-size: 20px;
    color: var(--WhiteColor);
}
.header-area .main-menu .navbar .nav-link:hover{
    font-style: bold;
    font-weight: 600;
}
.header-area .LogoVideo{
    position: absolute;
    top:0px;
    opacity:0.5;
}

/*
    =============
        Video  
    =============
*/

.HomeSection{
    background-color: black;
    font-family: 'Lato',sans-serif;
}
.HomeSection .LogoText{
    overflow-x:hidden;
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: var(--WhiteColor);
}
.HomeSection .LogoText h1{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-shadow: .1rem .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}


/*
    =============
        Body 
    =============
*/